@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,700|Open+Sans:400,700|Lato:400,700|Oswald:400,700|Lora:400,700|Mandali|Merriweather:400,700|Poppins:400,700|Raleway:400,700&display=swap');

.montserrat-font{
    font-family: 'Montserrat', sans-serif;
}
.roboto-font{
    font-family: 'Roboto', sans-serif;
}
.open-sans-font{
    font-family: 'Open Sans', sans-serif;
}
.lato-font{
    font-family: 'Lato', sans-serif;
}
.oswald-font{
    font-family: 'Oswald', sans-serif;
}
.raleway-font{
    font-family: 'Raleway', sans-serif;
}
.merriweather-font{
    font-family: 'Merriweather', serif;
}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}
.lora-font{
    font-family: 'Lora', serif;
}
.mandali-font{
    font-family: 'Mandali', sans-serif;
}

section.firma-de-correo{
    margin-top: 0px;
    padding-top: 0px;
}

#element{
    width: 100%;
    max-width: 650px;
    height: 175px;

    p{
        font-size: 1rem;
    }

    h6{
        font-size: 1.3rem;
    }

    .left-section{
        height: 175px;
        background: white;
        display: flex;
        align-items: center;

        img{
            max-width: 130px;
            max-height: 130px;
        }
    }

    .mid-section{
        height: 175px;
        background: white;
        display: flex;
        align-items: center;

        h6{
            color: #faaf41;
        }
        h6,p,span,strong{
            line-height: 1rem;
        }

        .svg-icon{
            height: 18px;
            color: #faaf41;
        }
    }

    .right-section{
        height: 175px;
        background: #faaf41;
        display: flex;
        align-items: center;
        line-height: 1.25rem;

        h6,p{
            color: white;
        }
        img{
            margin: 0px 0.2rem;
        }
    }
}